# data cleaning project: Sharks

In [1]:
# imports
import pandas as pd


# variables
FILE_PATH = './input/GSAF5.csv'

df = pd.read_csv(FILE_PATH, encoding='latin-1')

## Nombres de las columnas

In [2]:
# Explorando

df.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

In [3]:
# cambiamos los nombres de las columnas: a minusculas y eliminando espacios

df.columns = df.columns.str.lower().str.strip()

In [4]:
df.dtypes

case number               object
date                      object
year                       int64
type                      object
country                   object
area                      object
location                  object
activity                  object
name                      object
sex                       object
age                       object
injury                    object
fatal (y/n)               object
time                      object
species                   object
investigator or source    object
pdf                       object
href formula              object
href                      object
case number.1             object
case number.2             object
original order             int64
unnamed: 22               object
unnamed: 23               object
dtype: object

In [5]:
# las columnas string les hacemos strip()

# df[str_cols] = df[str_cols].str.strip()

## fatal

In [6]:
def clean_fatal(x): 
    
    if 'y' in str(x).lower(): 
        return 'fatal'
    elif x != 'UNKNOWN': 
        return 'not fatal'
    else: 
        return 'unknown'
    
    

df['fatal (y/n)'] = df['fatal (y/n)'].apply(clean_fatal)
df['fatal (y/n)'].value_counts()

not fatal    4346
fatal        1552
unknown        94
Name: fatal (y/n), dtype: int64

## age

In [ ]:
def clean_age(x): 
    try: 
        return int(x)
    except: 
        return None

df['age'] = df['age'].apply(clean_age)
df['age'].value_counts()

In [13]:
df.dtypes

case number                object
date                       object
year                        int64
type                       object
country                    object
area                       object
location                   object
activity                   object
name                       object
sex                        object
age                       float64
injury                     object
fatal (y/n)                object
time                       object
species                    object
investigator or source     object
pdf                        object
href formula               object
href                       object
case number.1              object
case number.2              object
original order              int64
unnamed: 22                object
unnamed: 23                object
shark                      object
dtype: object

## species

In [8]:
df.species.unique

<bound method Series.unique of 0                                                     NaN
1                                                     NaN
2                                                     NaN
3                                                     NaN
4                                               2 m shark
5                                                     NaN
6                                          3' to 4' shark
7                                        Tiger shark, 10?
8                                                     NaN
9                                                     NaN
10                                                    NaN
11                                                    NaN
12                                            White shark
13                                         Bull shark, 6'
14                                                    NaN
15                                      Bull shark, 3.5 m
16                                                    NaN
17                                                    NaN
18                                      Tiger shark, 10'
19                                         Blacktip shark
20                                             Blue shark
21                                                    NaN
22                                            White shark
23                                        Nurse shark, 4'
24                                                    NaN
25                                                    NaN
26                                                    NaN
27                                         Bull shark, 6'
28                                         reef shark, 1m
29                                      Tiger shark, 10'
                              ...
5962                                                  NaN
5963                                                  NaN
5964                                          White shark
5965                                                  NaN
5966                                      12' tiger shark
5967                                                  NaN
5968                                                  NaN
5969                                                  NaN
5970                                                  NaN
5971                                                  NaN
5972                                                  NaN
5973                                                  NaN
5974                                                  NaN
5975                                                  NaN
5976                                                  NaN
5977                                                  NaN
5978                                                  NaN
5979                                                  NaN
5980                                                  NaN
5981                                                  NaN
5982                                                  NaN
5983                                         Blue pointer
5984                                         Blue pointer
5985                                        Blue pointers
5986    Said to involve a grey nurse shark that leapt ...
5987                                                  NaN
5988                                                  NaN
5989                                                  NaN
5990                                                  NaN
5991                                                  NaN
Name: species, Length: 5992, dtype: object>

In [9]:
# sex 

def clean_sex(text): 
    text = str(text)
    if text.startswith('M'): 
        return 'male'
    elif text.startswith('F'): 
        return 'female'
    else: 
        return 'unknown'
    
df.sex = df.sex.apply(clean_sex)

df.sex.value_counts()

male       4837
female      585
unknown     570
Name: sex, dtype: int64

In [10]:
# species

sharks = ['white', 'bull', 'tiger', 'wobbegong', 'blue', 'mako', 'dusky', 'blacktip', 
          'hooked', 'Zambesi', 'grey nurse', 'silky', 'thresher', 'dogfish', 
         'Reef', 'Raggedtooth', 'Goblin', 'blacktip', 'Spinner', 'Porbeagle', 
         'Porbeagle', 'stingray']
 
def shark_type(text): 
    text = str(text).lower()
    for shark in sharks: 
        if shark in text: 
            return '{} shark'.format(shark)
    else: 
        return text

df['shark'] = df.species.apply(shark_type)

In [11]:
df.species.value_counts()

White shark                                                             161
Shark involvement not confirmed                                          80
Tiger shark                                                              68
Bull shark                                                               52
6' shark                                                                 40
4' shark                                                                 39
1.8 m [6'] shark                                                         35
1.5 m [5'] shark                                                         32
1.2 m [4'] shark                                                         27
3' shark                                                                 25
5' shark                                                                 25
4' to 5' shark                                                           23
3 m [10'] shark                                                          22
2 m shark                                                                22
No shark involvement                                                     21
Wobbegong shark                                                          20
3' to 4' shark                                                           18
2.4 m [8'] shark                                                         16
3 m shark                                                                16
3.7 m [12'] shark                                                        15
7' shark                                                                 14
Blue shark                                                               14
1.2 m to 1.5 m [4' to 5'] shark                                          14
Blacktip shark                                                           14
Mako shark                                                               14
12' shark                                                                14
1.5 m shark                                                              13
"a small shark"                                                          13
10' shark                                                                13
5 m [16.5'] white shark                                                  13
                                                                       ...
Grey nurse shark, 8'                                                      1
5.5' to 6' shark                                                          1
White shark, 4.4 m to 5 m [14.5' to 16.5']                                1
White shark, 2.1 m [7']                                                   1
sand shark                                                                1
Whaler shark, 2.7 m [9'], 350- to 450-lb  identified by G.P. Whitley      1
White shark, 2m to 3 m                                                    1
Lemon shark, 6'                                                           1
4.5 m to 5.5 m [14.7' to 18'] white shark                                 1
Shark involvement prior to death still to be determined                   1
Raggedtooth shark, 56-kg [123-lb]                                         1
Bronze whaler shark, 3 m                                                  1
Said to involve a >4 m [13'] shark                                        1
3 m [10'] blue whaler                                                     1
Thought to involve a cookie cutter shark                                  1
White shark, 3 m to 4 m [10' to 13']                                      1
1.5' to 2' shark                                                          1
Possibly juvenile tiger shark                                             1
Grey reef shark, 2 m                                                      1
2 small bull sharks                                                       1
Lemon shark, 9'                                                           1
Lemon shark, 30-lb                                                        1
2 m [6'9"] shark                                                          1
White shark, 1,900-lb                                                     1
White shark, 4 m [13'] rk                                                 1
Bitten by several 1.8 m [6'] sharks                                       1
Raggedtooth shark, 1.2 m to 1.5 m [4' to 5']                              1
5 m [16.5'] white shark, identification by K. Nakaya                      1
Whitetip reef shark, 1m                                                   1
Bronze whaler shark, 2.5m                                                 1
Name: species, Length: 1538, dtype: int64

In [12]:
# type

def is_proveked(text): 
    return text.lower() == 'provoked'

df.type.value_counts()

Unprovoked      4386
Provoked         557
Invalid          519
Sea Disaster     220
Boat             200
Boating          110
Name: type, dtype: int64